@font-face {
    src: url("fonts/RobotoFlex-VariableFont_GRAD\,XOPQ\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght.woff2") format("woff2");
    font-family: 'Roboto Flex';
    font-style: normal;
    font-weight: normal;
    }
    
    body{
    background-color: #181818;
    font-family: 'Roboto Flex', sans-serif;
    color:#E2E2E2;
}
/* how the page wrapper will appear on mobile */
.page-wrapper{
    /* where to change the width of the columns on desktop view */
    width: min(100% - 3rem, 80ch);
    margin-inline: auto;
}
/* typographic styling for mobile */
@media only screen and (max-width:100px){
   
    h4{
        font-size:100px;
        font-weight:20; 
        text-align: center;
        animation: weightChange 7s infinite;
        font-family: 'Roboto Flex', sans-serif;
    }
    
}

/* how the page wrapper appears on desktop */

@media only screen and (min-width:800px){
.page-wrapper{
display: grid;
grid-gap: 25px;
grid-template-columns: 1fr 1fr;
grid-template-rows: auto;
grid-template-areas: 
    "h a"
    "v a";
}


#history {
grid-area: h;
}

#variations{
grid-area: v;
}

#alphabet {
grid-area: a;
}
}
/* CSS for the footer */
footer{
    background-color: rgb(199, 30, 143);
    font-family: 'Roboto Flex', sans-serif;
    height:90%;
    width:auto;
}

/* variable font animation */
.hero {
    font-family: 'Roboto Flex', sans-serif;
    font-size: 10px;
}

.variations {
    text-align: center;
}
h1{
    font-size: 100px;
    font-weight: 20; 
    text-align: center;
    animation: weightChange 7s infinite;
    font-family: 'Roboto Flex', sans-serif;

}
h4{
    font-size:400px;
    font-weight:20; 
    text-align: center;
    animation: weightChange 7s infinite;
    font-family: 'Roboto Flex', sans-serif;
}

@keyframes weightChange {
    0%, 100%{
        font-variation-settings: "opsz" 16, "wght" 200, "slnt" 0;
    }
    50%{font-variation-settings: "opsz" 16, "wght" 900, "slnt" -13;
    }
    
}
/* variable font that changes on hover */
.variable-font{
    font-weight:1 ;
    height:100vh;
    font-size: 10em;
    display:grid;
    place-content: center;
    margin: 0;
    text-align: center;
    font-variation-settings: "wght" 40, "wdth" 0, "XXXX" 1;
    transition: 
        font-weight 500ms,
        font-variation-settings 3s;
}

.variable-font:hover{
    font-weight:500 ;
    height:100vh;
    font-size: 7em;
    display:grid;
    place-content: center;
    margin: 0;
    text-align: center;
    font-variation-settings: "wght" 120, "wdth" 0, "XXXX" 100;
}

